@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Inter:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.gochi-hand-regular {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
}


.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

