@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import "tailwindcss";

:root {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.gochi-hand-regular {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
}